#container{
    height: 1000px;
    width:1000px;
    background-color: red;
    background-image: url(../../Media/sunset.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    /* * left , center ,right */
    background-position-y:bottom ;
    /* *top , center , bottom */

}

body{
    background: url("https://cdn.pixabay.com/photo/2022/09/28/11/31/halloween-7484855_1280.jpg") no-repeat ;
    background-size: cover;/*? background-size should not be used in short hand property*/
    text-align: justify;
    color: white;
    background-attachment: fixed;

}