
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  height: 500px;
  width: 800px;
  border: solid red;
  background-color: bisque;
  margin: 100px auto;
}
#container div {
  height: 100px;
  width: 100px;
  border: solid;
  background-color: chocolate;
  display: inline-block;
}

#container :nth-child(1) {
  background-color: red;
}
#container :nth-child(2) {
  background-color: blue;
   position: relative;
  top:50px 
}
#container :nth-child(3) {
  background-color: gold;
  position: absolute;
  top: 10px;
  left: 50px;

}
#container :nth-child(4) {
  background-color: teal;
} 

#navBar1{
  background-color: indianred;
  position: fixed;
  top: 0px;
}
#navBar1 div{
  display: inline-block;
  padding: 10px 127px;
  color:white;
}
#navBar1 div:hover{
  background-color: lavenderblush;
  text-decoration: underline paleturquoise;
}
#chatbox{
  padding: 10px 50px;
  background-color: teal;
  color: white;
  border-radius: 15px;
  position: sticky;
  bottom: 50px;
  right:20px;
  font-size: 20px;
}