/* #deprecated{
    color:blue;
    background-color: lightblue;
}

.yes{
    color: green;
    background-color: lightgreen;
}
.no{
    color: red;
    background-color: lightcoral;
} */
* {
  background-color: black;
  color: white;
}
#fourthTable tr td:nth-child(3) {
  background-color: green;
  color: white;
}
