.box{
    height: 500px;
    width: 500px;
    /* border:5px dotted maroon; */
    /* * border : border-width border-style border-color */
    border-left: 13px dashed pink;
    border-right: 13px dashed rebeccapurple;
    border-top:13px dashed palevioletred;
    border-bottom:13px dashed plum;
}