p::before{
    content: "Mr. ";
}
p::after{
    content: ",you have got job";
}
h3::first-letter{
    color:red;
    font-size: 50px;
}

h3::first-line{
    color: green;
}
h3::selection{
    color:white;
    background-color: rgb(73, 73, 20);
}
li::marker{
    color:rgb(148, 23, 7)
}

/* !----------------------------------------------------- */

#Info{
    display: none;
}

input:checked~#Info{
    display: block;
}

img[alt=lion]{
    height: 500px;
    width: 500px;
}

input[name="userEmail"]{
    height: 400px;
    width: 300px;
}